In [1]:
# importing packages
import pandas as pd
import numpy as np
import os

## Import CSV File as a Dataframe

In [2]:
#import my csv file
df_original = pd.read_csv(r"C:\Users\Justin Schwerdt\Documents\data-analytics-projects\video-game-sales\orig-sales-data.csv",index_col=None)
df = df_original

# Cleaning the Data

In [3]:
#reviewing initial dataframe
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Removing Unused Columns

In [4]:
#removing columns i dont want
df = df.iloc[:,:10]

## Renaming Columns

In [5]:
#setting columns to lower for easier coding
df.columns = df.columns.str.lower()

## Checking for Null Values

In [6]:
#checking for nan values per column
df.isnull().sum()

name                 2
platform             0
year_of_release    269
genre                2
publisher           54
na_sales             0
eu_sales             0
jp_sales             0
other_sales          0
global_sales         0
dtype: int64

## Dealing with Null Values

In [7]:
#droping rows without a name
df = df.dropna(subset=['name'])

In [8]:
#dealing with missing years
df['year_of_release'] = df['year_of_release'].fillna(value=0)

In [9]:
#setting nan publisher to 'unknown'
df['publisher'] = df['publisher'].fillna(value='unknown')

In [10]:
#checking end results of dealing with nan values
df.isnull().sum()

name               0
platform           0
year_of_release    0
genre              0
publisher          0
na_sales           0
eu_sales           0
jp_sales           0
other_sales        0
global_sales       0
dtype: int64

## Changing Datatypes

In [11]:
#change year to int instead of float
df['year_of_release'] = df['year_of_release'].astype(int)

## Check Cleaned Dataframe

In [12]:
#checking df for more cleaning needed
df.head()

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Export Cleaned Dataframe as CSV

In [13]:
#export cleaned dataframe
df.to_csv(r'C:\Users\Justin Schwerdt\Documents\data-analytics-projects\video-game-sales\cleaned-sales-data-df', index=False)