In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
#load in df
df = pd.read_csv(r"C:\Users\Justin Schwerdt\Documents\data-analytics-projects\video-game-sales\cleaned-video-game-sales-df.csv")

## Question 1: Which country had the top global sales?

In [23]:
#sum NA sales
df['na_sales'].sum()

4400.84

In [24]:
#sum EU sales
df['eu_sales'].sum()

2424.1400000000003

In [25]:
#sum JP sales
df['jp_sales'].sum()

1297.4

## Question 2: Which genre has the top sales in na?

In [18]:
#group by genre and sum the na sales
genre_na_sales = df.groupby(["genre"]).na_sales.sum()

In [19]:
#na genre sales output
genre_na_sales

genre
Action          879.01
Adventure       105.26
Fighting        223.36
Misc            407.27
Platform        445.50
Puzzle          122.87
Racing          359.35
Role-Playing    330.81
Shooter         592.24
Simulation      182.19
Sports          684.43
Strategy         68.55
Name: na_sales, dtype: float64

## Question 3: Does the year of release affect overall sales?

In [16]:
#group by year of release and sum global sales
global_sales_by_year = df.groupby(["year_of_release"]).global_sales.sum()

In [17]:
global_sales_by_year

year_of_release
0        98.96
1980     11.38
1981     35.77
1982     28.86
1983     16.79
1984     50.36
1985     53.94
1986     37.07
1987     21.74
1988     47.22
1989     73.45
1990     49.39
1991     32.23
1992     76.17
1993     45.98
1994     79.18
1995     88.11
1996    199.15
1997    200.98
1998    256.45
1999    251.25
2000    201.58
2001    331.47
2002    395.51
2003    357.80
2004    419.05
2005    458.31
2006    518.22
2007    605.37
2008    671.79
2009    658.88
2010    590.59
2011    507.79
2012    355.84
2013    361.24
2014    331.51
2015    268.05
2016    130.10
2017      0.06
2020      0.29
Name: global_sales, dtype: float64

## refer to Tableu files for visualizations